body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#todoInput {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

/* todo-item */


li.todo-item {}


#addTodo {
    width: 28%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
}



.form-wrapper {
    display: flex;
    align-items: center;
}

.form-wrapper .form-wrapper__input {
    flex-grow: 1;
    margin-right: 10px;
}

#addTodo:hover {
    background-color: #4cae4c;
}

#todoList {
    list-style: none;
    padding: 0;
}

li.todo-item {
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;

}

li.todo-item.todo-item--complete {
    text-decoration: line-through;
    color: #ccc;
}

li.todo-item:nth-child(odd) {
    background-color: #f1f1f1;
}

li.todo-item:last-child {
    border-bottom: none;
}

li.todo-item .todo-item__button--delete {
    width: 20%;
    min-width: 80px;
    right: 2%;
    top: 20%;
    display: block;
    position: absolute;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d9534f;
    color: #fff;
    cursor: pointer;
}